<div class="container">

  <button class="homebutton" routerLink='/empleados'>Ir a <strong>"/employee"</strong></button>
  <button class="homebutton" routerLink='/gerentes'>Ir a <strong>"/gerentes"</strong></button>
  <button class="homebutton" (click)="irAPrueba()">Ir a <strong>"/prueba"</strong></button>
  <button class="homebutton" routerLink='/prueba/form'>Ir a <strong>"/prueba/form"</strong></button>

  <button (click)="toggleIsLoggedIn()" style="margin-top: 50px;" [style.background]="!isLoggedIn ? 'red' : 'green'">Ir a
    <strong>Loguearme</strong></button>

</div>